@font-face
{
    font-family: "Quicksand-Medium";
    src: url('https://cdn.za.group/if/za-care-portal-web/assets/fonts/Quicksand-Medium.ttf?v=20191211');
}

@font-face
{
    font-family: "Quicksand-Bold";
    src: url('https://cdn.za.group/if/za-care-portal-web/assets/fonts/Quicksand-Bold.ttf?v=20191211');
}


@font-face
{
    font-family: "Quicksand-Light";
    src: url('https://cdn.za.group/if/za-care-portal-web/assets/fonts/Quicksand-Medium.ttf?v=20191211');
}

@font-face
{
    font-family: "Quicksand-Regular";
    src: url('https://cdn.za.group/if/za-care-portal-web/assets/fonts/Quicksand-Medium.ttf?v=20191211');
}



/*字体*/
.font-medium {
  font-family: 'Quicksand-Medium', "PingFang TC", "苹方", "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1",sans-serif !important;
  font-weight: 400!important;
}

.font-bold {
  font-family: 'Quicksand-Bold', "PingFang TC", "苹方", "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1",sans-serif !important;
  font-weight: 600!important;
}

.font-light {
  font-family: 'Quicksand-Medium',  "PingFang TC", "苹方", "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1",sans-serif !important;
  font-weight: 400!important;
}

.font-regular {
  font-family: 'Quicksand-Medium', "PingFang TC", "苹方", "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1",sans-serif !important;
  font-weight: 400!important;
}


